@{
    ViewData["Title"] = "About us";
}

<h1>@ViewData["Title"]</h1>

<div class="card" ">
    <div class="card-body">
        <img src="https://res.cloudinary.com/dluas4qpp/image/upload/v1680892221/about_image_ujzael.jpg" class="img-fluid" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome to our Recipe Book!</h5>
        <p class="card-text">Our mission is to provide you with the best recipes that are both delicious and easy to make. 
            We are a team of passionate foodies who love to cook, eat, and share our recipes with the world.</p>
    </div>

    <div class="card-body">
        <p>Our Recipe Book is filled with a wide variety of recipes for every occasion, from quick and easy weeknight meals to elaborate dinner parties. 
            We believe that cooking should be enjoyable, stress-free, and accessible to everyone, regardless of their level of expertise in the kitchen.</p>
    </div>

    <div class="card-body">
        <p>Our recipes are carefully curated and tested to ensure that they are easy to follow and produce great results every time.
            We believe that cooking should be a fun and creative experience, and we encourage you to experiment with our recipes and make them your own.</p>
    </div>

    <div class="card-body">
        <p>In addition to our collection of recipes, we also offer cooking tips, tricks, and techniques to help you become a better cook. 
            We believe that cooking is a lifelong journey of learning and discovery, and we are excited to be a part of your culinary adventure.</p>
    </div>

    <div class="card-body">
        <p>Thank you for choosing our Recipe Book as your go-to source for delicious and easy-to-make recipes. 
            We hope that our recipes inspire you to create delicious meals and share them with your family and friends.</p>
    </div>

    <div class="card-body">
        <p>Happy cooking!</p>
    </div>
</div>