@{
    ViewData["Title"] = "Home Page";
}

<div class="row featurette bg-white rounded py-2">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Recipe Categories</h2>
        <p class="lead">Variety of recipe categories, such as appetizers, entrees, desserts, vegetarian, and more.</p>
    </div>
    <div class="col-md-5">
        <img src="https://res.cloudinary.com/dluas4qpp/image/upload/v1680891177/recipe_categories_swnz7p.jpg" class="img-fluid rounded" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette bg-white rounded py-2">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Regional Cuisine</h2>
        <p class="lead">Recipes from different regions and cultures, such as Italian, Mexican, or Asian cuisine, to give users a taste of different flavors and cooking styles.</p>
    </div>
    <div class="col-md-5">
        <img src="https://res.cloudinary.com/dluas4qpp/image/upload/v1680891177/regional_cuisine_xxo00u.jpg" class="img-fluid rounded" />

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette bg-white rounded py-2">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Search feature</h2>
        <p class="lead">Search feature that allows users to find recipes by keywords, category, or other criteria.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="https://res.cloudinary.com/dluas4qpp/image/upload/v1680891177/search_functionality_sxizgh.jpg" class="img-fluid rounded" />

    </div>
</div>