<header class="hero-section">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://res.cloudinary.com/dluas4qpp/image/upload/v1680890869/AI_Food_kywt2s.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Cooking Made Easy: Recipes for Every Meal.</h1>
                <p class="text-white-50">From savory to sweet, find your perfect recipe today.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                 


                    <a asp-controller="Bookmark" asp-action="Index" class="btn btn-success btn-lg px-4 me-md-2">Get Started</a>
                    <a asp-controller="Recipe" asp-action="Index" class="btn btn-light btn-lg px-4">Explore Recipes</a>
                </div>
            </div>
        </div>

    </div>

</header>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2a5846" fill-opacity="1" d="M0,96L48,117.3C96,139,192,181,288,192C384,203,480,181,576,170.7C672,160,768,160,864,165.3C960,171,1056,181,1152,176C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>