@model MyRecipeBook.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" disabled></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input type="text" asp-for="Category" class="form-control" disabled>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuisine" class="control-label"></label>
                <input type="text" asp-for="Cuisine" class="form-control" disabled>
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serves" class="control-label"></label>
                <input asp-for="Serves" class="form-control" disabled>
                <span asp-validation-for="Serves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient1" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient1" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient2" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient2" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient3" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient3" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient4" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient4" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient5" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient5" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient6" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient6" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient7" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient7" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient8" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient8" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient9" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient9" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients.Ingredient10" class="control-label"></label>
                <input asp-for="Ingredients.Ingredient10" class="form-control" disabled>
                <span asp-validation-for="Ingredients.Ingredient10" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Steps.Step1" class="control-label"></label>
                <textarea asp-for="Steps.Step1" class="form-control" disabled></textarea>
                <span asp-validation-for="Steps.Step1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steps.Step2" class="control-label"></label>
                <textarea asp-for="Steps.Step2" class="form-control" disabled></textarea>
                <span asp-validation-for="Steps.Step2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steps.Step3" class="control-label"></label>
                <textarea asp-for="Steps.Step3" class="form-control" disabled></textarea>
                <span asp-validation-for="Steps.Step3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steps.Step4" class="control-label"></label>
                <textarea asp-for="Steps.Step4" class="form-control" disabled></textarea>
                <span asp-validation-for="Steps.Step4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steps.Step5" class="control-label"></label>
                <textarea asp-for="Steps.Step5" class="form-control" disabled></textarea>
                <span asp-validation-for="Steps.Step5" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PreparationTime" class="control-label"></label>
                <input asp-for="PreparationTime" class="form-control" disabled>
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookTime" class="control-label"></label>
                <input asp-for="CookTime" class="form-control" disabled>
                <span asp-validation-for="CookTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@Model.Image" class="card-img-top" alt="...">
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
